<nav class="navbar">
    <div class="logo">StoryGems</div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="plans.html">Plans</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="orders.html">Orders</a></li>
        <li><span id="userGreeting"></span></li>
        <li><a href="login.html" id="loginBtn">Login</a></li>
        <li><a href="signup.html" id="signupBtn">Sign Up</a></li>
        <li><button id="logoutBtn" style="display:none;">Logout</button></li>
    </ul>
</nav>
