<nav class="navbar">

  <div class="nav-left">
    <div class="logo" onclick="goHome()">📚 StoryGems</div>
  </div>

  <div class="nav-center">
    <a href="index.html">Home</a>
    <a href="books.html">Books</a>
    <a href="plans.html">Plans</a>
<li>
  <a href="cart.html" class="cart-link">
    Cart 🛒
    <span id="cartCount" class="cart-badge">0</span>
  </a>
</li>
    
  </div>

  <div class="nav-right">
    <span id="userGreeting"></span>

    <a href="login.html" id="loginBtn">Login</a>
    <a href="signup.html" id="signupBtn" class="signup">Sign Up</a>

    <button id="logoutBtn">Logout</button>
  </div>

</nav>
